.archiLogo img{
    width: 9em;
    margin-top: 2em;
}

.archiLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



strong{
    color: #29abe2;
}

.pic img{
    max-width: 4em;
    max-height: 4em;
    border: 0.2em solid #eeeeee;
    border-radius: 0.3em;
    margin-top: 0.2em;
    background: #727272;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: #727272;
}

p{
    color: #727272;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    padding: 0.2em;
    margin: 0.5em;
    text-align: start;
}

.applyBtn{
    width: 8em;
    border-radius: 2em;
    border: 0.2em solid #727272;
    cursor: pointer;
    margin: 1em;

}

.applyBtn p{
    text-align: center;
}

.pad{
    margin: 0.2em 0.2em;
    background: #eeeeee;
    width: 20em;
}

.listWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.list{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: 0.2em solid #c3edff;

}

.list p{
    font-size: 0.8em;
}
